@import './vars.scss';


html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body {
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-x: hidden;
    -moz-overflow-x: hidden;
    -ms-overflow-x: hidden;
    -o-overflow-x: hidden;
    font-family: 'Fregat';
    background-color: $white;
    color: $black;
    padding-bottom: 20px;
}

section,
footer {
    position: relative;
    padding: 0 30px;

    @media (max-width: $px768) {
        padding: 0 20px;
    }
}


body.lock {
    overflow: hidden;
}

main {
    // @media only screen and (max-width: ) {

    // }
    // padding-top: 66px;
}

.containers {
    position: relative;
    margin: 0 auto;
    max-width: 1290px;
    // outline: 1px solid red;
}

.container-fluid {
    width: 100vw;
}

.animate__animated {
    animation-timing-function: ease;
}



body.modal-open {
    height: 100vh;
    overflow-y: hidden;
}

// графические элементы нельзя выделить мышкой
img,
.mask,
.flower {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

a {
    text-decoration: none;
    color: $black;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    transition: all 0.3s ease;

    &:hover {
        color: $hover-color;
    }
}

button {
    cursor: pointer;
    position: relative;
}

h1 {
    font-family: 'Rounds';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 140%;
    color: $blue;

    @media (max-width: 570px) {
        font-size: 35px;
        line-height: 48px;
    }

    @media only screen and (max-width: 420px) {
        font-size: 24px;
        line-height: 33px;
    }

}

h2 {
    // background-color: red;
    display: inline-block;
    color: $blue;
    font-family: 'Rounds';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    position: relative;

    @media (max-width: 400px) {
        font-weight: 400;
        font-size: 30px;
        line-height: 140%;
    }
}



h3 {
    font-family: 'Rounds';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;

}

p.bold {
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.svg {
    width: unset;
    height: unset;
    max-width: unset;
}

.btn {
    border-radius: 60px;
    padding: 16px 24px 14px;
    font-family: 'Rounds';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    border: none;
    transition: all 0.3s ease;
}

.h2-wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
}

.star {
    display: inline;
    width: unset;
    height: unset;
    // position: absolute;
    top: -5px;
    // right: -5px;
}

.flower {

    position: absolute;
}

.flower-1 {
    height: 822px;
    width: 822px;
}

.flower-2 {
    left: 0;
    top: 100px;
    height: auto;
    width: 553px;
}

.flower-3 {
    right: 0;
    top: -170px;
    height: auto;
    width: 553px;
}

.mask {

    position: absolute;
}

.mask-1 {
    background-image: url('../../src/assets/img/mask-1.svg');
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 3000px;
    width: 100vw;
}

.mask-2 {
    background-image: url('../../src/assets/img/mask-2.svg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    height: 1788px;
    width: 100vw;
}

.mask-3 {
    position: relative;
    background-image: url('../../src/assets/img/mask-3.svg');
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 100%;
    width: 100vw;
}