@import './breakpoints.scss';
@import './vars.scss';


html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body {
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-x: hidden;
    -moz-overflow-x: hidden;
    -ms-overflow-x: hidden;
    -o-overflow-x: hidden;
    font-family: 'Fregat';
    background: $bg-white;
    color: $font-dark;
    padding-bottom: 20px;
}

section {
    position: relative;
    padding: 0 30px;

    @media (max-width: $px768) {
        padding: 0 20px;
    }

}


body.lock {
    overflow: hidden;
}

main {
    // padding-top: 119px;
}

.containers {
    position: relative;
    margin: 0 auto;
    max-width: 1170px;
}

.container-fluid {
    width: 100vw;
}

.animate__animated {
    animation-timing-function: ease;
}



body.modal-open {
    height: 100vh;
    overflow-y: hidden;
}

// графические элементы нельзя выделить мышкой
img,
mask {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

a {
    text-decoration: none;
    color: $font-dark;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    transition: all 0.3s ease;

    &:hover {
        color: $hover-color;
    }
}

button {
    cursor: pointer;
    position: relative;
}

h1 {
    font-family: $openSans;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    color: $font-dark;

    @media (max-width: 570px) {
        font-size: 35px;
        line-height: 48px;
    }

    @media only screen and (max-width: 420px) {
        font-size: 24px;
        line-height: 33px;
    }

}

h2 {
    font-family: $openSans;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 48px;

    @media (max-width: $px360) {
        font-weight: 800;
        font-size: 28px;
        line-height: 38px;
    }
}

h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color: $font-dark;
}

h4 {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: $font-black;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $font-black;
}

p.bold {
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.svg {
    width: unset;
    height: unset;
    max-width: unset;
}

.btn {
    border-radius: 10px;
    padding: 17px 35px;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: white;
    border: none;
    background: linear-gradient(93.61deg, #143782 0.2%, #4278EF 100.2%);
    box-shadow: 0px 0px 15px rgba(46, 96, 201, 0.5);
    border-radius: 10px;

    &:hover {
        transform: scale(0.97);
    }
}

hr {
    border-bottom: 3px solid #DBA11C;
    margin: 0;
    padding: 0;


}