  $px1920: '1920px';
  $px1024: '1024px';
  $px850: '850px';
  $px768: '768px';
  $px480: '480px';
  $px360: '360px';
  $navhide: '1000px';
  $hero-column: '1000px';
  $infowrap: '1200px';
  $about-column: '1024px';

  // $products-column: '840px';
  // $services-column: '840px';
  // $objects-column: '840px';
  $contacts-column: '1340px';
  $footer-column: '700px';