$bg-white: #fff;
$bg-blue: #052770;
$font-dark: #001747;
$font-black: #000B24;
$text-gray: #58595A;
$hover-color: #aaa;

$openSans: 'Open Sans';
$about-column: '840px';
$products-column: '840px';
$services-column: '840px';
$objects-column: '840px';
$contacts-column: '1340px';
$footer-column: '700px';

