$bg-white: #fff;
$bg-blue: #052770;
$text-black: #000916;
$text-blue: #3E5496;
$text-sky: #7CB8EB;
$text-gray: #58595A;
$hover-color: #aaa;

$openSans: 'Open Sans';
$about-column: '840px';
$products-column: '840px';
$services-column: '840px';
$objects-column: '840px';
$contacts-column: '1340px';
$footer-column: '700px';

