$white: #fff;
$black: #000916;
$blue: #3E5496;
$sky: #7CB8EB;
$yellow: #FCB428;
$orange: #FC8128;
$light-blue: #EAEFFF;
$hover-color: $blue;

// breakpoints
  $px1920: '1920px';
  $px1024: '1024px';
  $px850: '850px';
  $px768: '768px';
  $px480: '480px';
  $px360: '360px';
  $navhide: '1000px';