.header__nav {
  display: flex;
  justify-content: center;
  max-width: 740px;
  width: 100%;

  @media only screen and (max-width: $navhide) {
    position: absolute;

  }
}

.nav__list-header {
  display: flex;
  column-gap: 40px;
  padding: 0;
  background-color: $bg-white;
  list-style-type: none;
  
  @media (max-width: $navhide) {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    transition: all 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
    &.mobile-nav-active {
      min-height: 100vh;
      margin: 0;
      padding: 0;

      .nav__item-header {
        margin-bottom: 50px;
      }
    }
  }

}

.nav__item-header {
  white-space: nowrap;
}