.header {
  background-color: $white;
  position: static;
  top: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  padding: 0 30px;


  @media (max-width: $navhide) {
    // position: absolute;
  }

  @media (max-width: $px768) {
    padding: 0 20px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // column-gap: 40px;
    width: 100%;
    flex: 1;
    margin: 0 auto;
    padding: 10px 0;
  }

  &__logo {
    position: relative;
    z-index: 2;
    cursor: pointer;

    &-fixed {
      position: relative;
      z-index: 2;
      cursor: pointer;
    }
  }

  &__phone {
    font-family: 'Rounds';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    transition: all 0.4s;
    white-space: nowrap;
    color: $sky;

    &:hover {
      color: $blue;
    }

    @media (max-width: $navhide) {
      margin-right: 90px;
      border: none;
    }

    @media (max-width: 479px) {
      position: fixed;
      top: -40%;
      left: 50%;
      transform: translate(-50%);
      margin-right: 10px;
    }

    &-mobile {
      position: fixed;
      z-index: 2;
      left: 50%;
      top: 90%;
      transform: translate(-50%);

      @media (max-width: 420px) {
        left: 50%;
        top: 90%;
        transform: translate(-50%);
      }
    }
  }
}