.header {
  background-color: $bg-white;
  position: static;
  top: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  padding: 0 30px;


  @media (max-width: $navhide) {
    position: absolute;
  }

  @media (max-width: $px768) {
    padding: 0 20px;
  }
}


.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // column-gap: 40px;
  // width: 100%;
  flex: 1;
  margin: 0 auto;
  padding: 18px 0 33px;
}

.header__logo {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.header__logo-fixed {
  position: fixed;
  top: 18px;
  left: 20px;
}

.header__phone {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  transition: all 0.4s;
  white-space: nowrap;
  border: 1px solid #052770;
  border-radius: 10px;
  padding: 17px 35px;

  @media (max-width: $navhide) {
    // margin-right: 30%;
    margin: auto;
    border: none;
  }

  @media (max-width: $px480) {
    position: fixed;
    top: -40%;
    left: 50%;
    transform: translate(-50%);
    margin-right: 10px;
  }
}

.header__phone-mobile {
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 90%;
  transform: translate(-50%);

  @media (max-width: 420px) {
    left: 50%;
    top: 90%;
    transform: translate(-50%);
  }
}