.modalForm {
    display: none;
    /* Скрыто по умолчанию */
    position: fixed;
    /* Оставаться на месте */
    z-index: 9999;
    /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%;
    /* Полная ширина */
    height: 100%;
    /* Полная высота */
    overflow: auto;
    /* Включите прокрутку, если это необходимо */
    background-color: rgba(0, 0, 0, 0.6);
    /* Черный с непрозрачностью */

}

.modal-content-form {
    $no-photo: '950px';
    position: absolute;
    z-index: 5;
    background: #ffffff;
    margin: auto;
    height: fit-content;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    max-width: 1140px;

    @media only screen and (max-width: $no-photo) {
        align-items: center;
        justify-content: center;
    }

    &-left {
        img {
            height: 100%;
            max-width: 500px;
        }

        @media only screen and (max-width: $no-photo) {
            display: none;
        }
    }

    &-right {
        padding: 70px;
        padding-left: 40px;
        @media only screen and (max-width: $no-photo) {
            max-width: 700px;
            text-align: center;
        }

        h3 {
            margin-bottom: 30px;
            @media only screen and (max-width: $no-photo) {
                // max-width: 400px;
            }
        }

        p {
            margin-bottom: 30px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            // max-width: 400px;

            @media only screen and (max-width: $no-photo) {
                // max-width: unset;
                // align-items: stretch;
                margin: 0 auto;
            }

            textarea {
                min-height: 93px;
            }
            button {
                @media only screen and (max-width: $no-photo) {
                    margin: 0 auto;
                }
            }
        }
    }

}

/* Кнопка закрытия */
.closeForm {
    position: absolute;
    // right: -30px;
    // top: -30px;
    right: 10px;
    top: 10px;

    @media (max-width: 1170px) {
        // right: 10px;
        // top: 10px;
    }
}

.closeForm:hover,
.closeForm:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}


.error-input {
    border: 1px solid red;
}