.popup-services {
    $list-column: 500px;
    $content-column: 850px;

    background: #FFFFFF;
    border-radius: 20px;
    padding: 50px;
    max-width: 1070px;
    width: unset;
    height: 90vh;

    @media only screen and (max-width: $content-column) {
        padding-right: 0;
    }

    @media only screen and (max-width: $px480) {
        padding-left: 20px;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
        max-height: 100%;
        height: 100%;

        @media only screen and (max-width: $content-column) {
            overflow-y: auto;
            // padding-right: 0;
        }

        @media only screen and (max-width: $content-column) {
            grid-template-columns: 1fr;
        }

        &-left {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;


            button {
                white-space: nowrap;

                @media only screen and (max-width: $px360) {
                    font-size: 14px;
                }
            }
        }

        &-right {
            max-height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
            padding-right: 15px;

            @media only screen and (max-width: $content-column) {
                overflow: visible;
            }

            h4 {
                margin-bottom: 24px;
            }

            ul {
                list-style-type: none;
                width: 100%;
                padding: 0;

                &:not(:last-child) {
                    margin-bottom: 30px;
                }

                li {
                    display: flex;
                    justify-content: space-between;

                    @media only screen and (max-width: $list-column) {
                        flex-direction: column;
                    }

                    &:not(:last-child) {
                        margin-bottom: 14px;
                    }
                }
            }
        }

    }

    &__header {
        margin-bottom: 50px;

        img {
            margin-bottom: 20px;
        }

        h3 {
            color: $blue;
        }
    }

    &__list-item-name {
        color: $blue;
        font-family: 'Fregat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        margin-right: 15px;

        @media only screen and (max-width: $list-column) {
            margin-bottom: 10px;
        }
    }

    &__list-item-price {
        color: $yellow;
        font-family: 'Fregat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        white-space: nowrap;
    }

}

#popup-windows {
    .popup-services__content-right {
        h4 {
            margin-bottom: 0;
        }

        p.important-paragraph {
            margin-top: 0;
            margin-bottom: 25px;
            font-family: 'Fregat';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            color: $dark;
        }

    }
}