.about {
    $about-column: '1024px';
    padding-top: 190px;

    &__content {
        width: 100%;
        display: flex;
        gap: 50px;

        @media only screen and (max-width: $about-column) {
            flex-direction: column-reverse;
        }

        &-image {
            flex: 1;
            display: flex;
            flex-basis: 550px;
            align-items: center;

            @media only screen and (max-width: $about-column) {
                width: 100%;
                max-width: unset;
                flex-basis: unset;
            }

            img {
                object-fit: contain;
            }

        }

        &-text {
            flex: 1;
            flex-basis: 690px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: $about-column) {
                max-width: unset;
                flex-basis: unset;
            }

            h2 {
                margin-bottom: 40px;
            }
        }
    }
}