.about {
    $about-column: '1024px';
    padding-top: 100px;

    &__content {
        width: 100%;
        display: flex;
        gap: 30px;

        @media only screen and (max-width: $about-column) {
            flex-direction: column;
        }

        &-text {
            flex: 1;
            flex-basis: 520px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: $about-column) {
                max-width: unset;
                flex-basis: unset;
            }

            h2 {
                margin-bottom: 50px;
            }
        }

        &-image {
            flex: 1;
            display: flex;
            flex-basis: 738px;
            height: 500px;
            align-items: center;
            box-shadow: 20px 20px $disable;
            border-radius: 4px;


            @media only screen and (max-width: $about-column) {
                width: 100%;
                flex-basis: unset;
                justify-content: center;
            }

            @media only screen and (max-width: $px480) {
                height: 400px;
                box-shadow: none;
            }

            @media only screen and (max-width: $px360) {
                height: 300px;
            }

            img {
                // object-fit: contain;
                border-radius: 4px;

                @media only screen and (max-width: $about-column) {

                    // max-width: 500px;
                }
            }

        }


    }
}