.about {
    $about-column: '1024px';
    padding-top: 90px;

    &__content {
        width: 100%;
        display: flex;
        gap: 50px;

        @media only screen and (max-width: $about-column) {
            flex-direction: column-reverse;
        }

        &-image {
            flex: 1;
            display: flex;
            flex-basis: 550px;
            align-items: center;


            @media only screen and (max-width: $about-column) {
                width: 100%;
                flex-basis: unset;
                justify-content: center;
            }

            img {
                object-fit: contain;

                @media only screen and (max-width: $about-column) {

                    max-width: 500px;
                }
            }

        }

        &-text {
            flex: 1;
            flex-basis: 690px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: $about-column) {
                max-width: unset;
                flex-basis: unset;
            }

            h2 {
                margin-bottom: 40px;
            }

            p {
                letter-spacing: -0.1px;
            }

            .h2-wrapper {
                justify-content: flex-start;
            }
        }
    }
}