#contacts {
  padding: 0;
}

.contacts {
  display: flex;
  position: relative;
  padding-top: 70px;

  @media only screen and (max-width: $contacts-column) {
    align-items: center;
    flex-direction: column;
  }

  &__map {
    position: relative;
    width: 40%;
    max-width: 845px;
    flex: 1;

    @media only screen and (max-width: $contacts-column) {
      width: 100%;
      max-width: unset;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $bg-white;

    @media only screen and (max-width: $contacts-column) {
      width: 100%;
    }

    @media only screen and (max-width: $px768) {}

    @media only screen and (max-width: $px360) {}

    &-container {
      width: 100%;
      background-color: $bg-blue;
      color: white;
      padding: 70px 30px;



      p {
        color: $text-gray;
        margin-bottom: 15px;
      }

      h4,
      a {
        color: white;
        max-width: 504px;
      }

      h4:not(:last-child) {
        margin-bottom: 30px;
      }

      a:hover{
        color: $hover-color;
      }
    }

    h2 {
      margin-bottom: 40px;
    }
  }
}

#ymaps {
  width: 100%;
  height: 710px;
}