.contacts {
  $text-align: 960px;
  $text-column: 680px;

  padding-top: 98px;

  .h2-wrapper {
    margin-bottom: 40px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    @media only screen and (max-width: $text-column) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  &__text {
    text-align: center;

    @media only screen and (max-width: $text-align) {
      text-align: start;
    }

    @media only screen and (max-width: $text-column) {
      margin-bottom: 30px;
    }

    a {
      font-family: 'Rounds';
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      line-height: 140%;
      text-align: center;
      text-transform: uppercase;
      color: $sky;
      white-space: nowrap;

      @media only screen and (max-width: 450px) {
        font-size: 35px;
      }
    }
  }

  &__social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @media only screen and (max-width: $text-align) {
      text-align: end;
      align-items: end;
      justify-content: end;
    }

    // outline: 1px solid red;
    a {
      svg {
        rect {
          transition: all 0.3s ease;
        }
      }

      &:hover {
        svg {
          rect {
            fill: $yellow;
          }
        }
      }
    }
  }
}