#contacts {

  // background-color: rgba(5, 20, 44, 0.95);
}

.contacts {
  $contacts-column: 945px;
  padding-top: 155px;

  h2,
  h3,
  p,
  a,
  div,
  input,
  textarea {
    color: $white;
  }

  h2 {
    margin-bottom: 52px;
  }

  a:hover {
    color: $turquoise;
    text-decoration: none;
  }

  &__text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 40px;

    @media only screen and (max-width: $contacts-column) {
      grid-template-columns: 1fr;
      max-width: 728px;
      gap: 40px;
    }

    &-contacts {
      display: flex;
      flex-direction: column;
      gap: 30px;

      a,
      p {
        display: flex;
        gap: 8px;
        align-items: center;
        white-space: nowrap;
        @media only screen and (max-width: $px480) {
          white-space: normal;
        }
      }
    }

    &-form {
      h3 {
        margin-bottom: 30px;
      }

      &-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        @media only screen and (max-width: $px480) {
          grid-template-columns: 1fr;
          
        }
        
        input {
          min-width: 0;
          padding: 12px 20px 16px;
          border-radius: 4px;
          background: rgba(255, 255, 255, 0.05);
          border: 1px solid #DBE5EF;
        }

        textarea {
          display: inline-flex;
          border: 1px solid #DBE5EF;
          padding: 12px 0 0 20px;
          grid-column-start: 1;
          grid-column-end: 3;
          min-height: 93px;
          margin-bottom: 20px;
          border-radius: 4px;
          background: rgba(255, 255, 255, 0.05);

          @media only screen and (max-width: $px480) {
            grid-area: auto;
          }
        }

      }
      &-checkbox{
        margin-bottom: 20px;
      }
    }
  }
}

#ymaps {
  height: 500px;
  border-radius: 4px;
  overflow: hidden;
}