#contacts {

  // background-color: rgba(5, 20, 44, 0.95);
}

.contacts {
  $contacts-column: 945px;
  padding-top: 155px;

  h2,
  h3,
  p,
  a,
  div,
  input,
  textarea {
    color: $white;
  }

  h2 {
    margin-bottom: 52px;

    hr {
      border-bottom: 1px solid $turquoise;
    }
  }

  a:hover {
    color: $turquoise;
    text-decoration: none;
  }

  &__text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 40px;

    @media only screen and (max-width: $contacts-column) {
      grid-template-columns: 1fr;
      max-width: 728px;
      gap: 40px;
    }

    &-contacts {
      display: flex;
      flex-direction: column;
      gap: 30px;

      a,
      p {
        display: flex;
        gap: 8px;
        align-items: center;
        white-space: nowrap;

        @media only screen and (max-width: $px480) {
          white-space: normal;
        }
      }
    }

    &-form {
      h3 {
        margin-bottom: 30px;
      }

      &-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        @media only screen and (max-width: $px480) {
          grid-template-columns: 1fr;

        }

        input {
          min-width: 0;
          padding: 12px 20px 16px;
          border-radius: 4px;
          background: rgba(255, 255, 255, 0.05);
          border: 1px solid #DBE5EF;

          &:focus {
            background: rgba(255, 255, 255, 0.3);
            outline: 2px solid #FFFFFF;
          }
        }

        textarea {
          display: inline-flex;
          border: 1px solid #DBE5EF;
          padding: 12px 0 0 20px;
          grid-column-start: 1;
          grid-column-end: 3;
          min-height: 93px;
          margin-bottom: 20px;
          border-radius: 4px;
          background: rgba(255, 255, 255, 0.05);

          &:focus {
            background: rgba(255, 255, 255, 0.3);
            outline: 2px solid #FFFFFF;
          }

          @media only screen and (max-width: $px480) {
            grid-area: auto;
          }
        }

      }

      &-checkbox {
        margin-bottom: 20px;
      }
    }
  }
}

#ymaps {
  height: 500px;
  border-radius: 4px;
  overflow: hidden;
}

.modal-checkbox {

  /* The container */
  .container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 38px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 28px;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: 28px;
    // background-color: #eee;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input~.checkmark {
    background-color: #cccccc70;
    // border-radius: 8px;
  }

  /* When the checkbox is checked, add a blue background */
  // .container input:checked~.checkmark {
  // background-color: #2196F3;
  // }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked~.checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    content: url(../../src/assets/img/checkbox-icon.svg);
  }
}