#hero {
    background-image: url(../../src/assets/img/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top 100px;
}

.hero {
    $hide-right: 1300px;

    padding: 20px 0 70px;

    @media only screen and (max-width: $navhide) {
        padding-top: 60px;
    }

    @media only screen and (max-width: $px480) {
        padding-top: 40px;
    }

    &__content {
        display: flex;
        gap: 80px;

        @media only screen and (max-width: $hide-right) {
            // align-items: center;
            justify-content: center;
        }

        &-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1 {
                align-self: flex-start;
                margin-bottom: 18px;
                text-align: center;
                white-space: nowrap;

                @media only screen and (max-width: $navhide) {
                    margin-bottom: 50px;
                }

                @media only screen and (max-width: 700px) {
                    align-self: center;
                }

                @media only screen and (max-width: 470px) {
                    white-space: normal;
                }

                @media only screen and (max-width: $px360) {
                    margin-bottom: 30px;
                }
            }

            &-bottom {
                display: flex;
                margin-top: 24px;
                max-width: 960px;
                align-items: center;
                gap: 40px;

                @media only screen and (max-width: $px360) {
                    gap: 20px;
                }

                @media only screen and (max-width: $navhide) {
                    margin-top: 50px;
                }

                @media only screen and (max-width: 700px) {
                    flex-direction: column;
                    text-align: center;
                }

                @media only screen and (max-width: $px360) {
                    margin-top: 30px;
                }

                p {
                    color: $white;
                }
            }
        }

        &-right {
            display: flex;
            flex-direction: column;
            gap: 30px;

            a {
                display: block;
                width: 250px;
                height: 170px;
                transition: all 0.3s ease;
            }

            &-img:nth-child(1) {
                a {
                    background: url(../../src/assets/img/hero-right-1.jpg);

                    &:hover {
                        background: linear-gradient(0deg, rgba(0, 7, 185, 0.5), rgba(0, 7, 185, 0.5)), url(../../src/assets/img/hero-right-1.jpg);
                    }
                }
            }

            &-img:nth-child(2) {
                a {
                    background: url(../../src/assets/img/hero-right-2.jpg);

                    &:hover {
                        background: linear-gradient(0deg, rgba(0, 7, 185, 0.5), rgba(0, 7, 185, 0.5)), url(../../src/assets/img/hero-right-2.jpg);
                    }
                }
            }

            &-img:nth-child(3) {
                a {
                    background: url(../../src/assets/img/hero-right-3.jpg);

                    &:hover {
                        background: linear-gradient(0deg, rgba(0, 7, 185, 0.5), rgba(0, 7, 185, 0.5)), url(../../src/assets/img/hero-right-3.jpg);
                    }
                }
            }

            @media only screen and (max-width: $hide-right) {
                display: none;
            }
        }
    }
}