.hero {
    $first-breakpoint: '1440px';
    $hero-column: '1000px';

    @media only screen and (max-width: $first-breakpoint) {
        padding-top: 40px;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        min-height: 650px;
        gap: 30px;

        @media only screen and (max-width: $first-breakpoint) {
            min-height: unset;

        }

        @media only screen and (max-width: $hero-column) {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }

    &__text {
        flex: 1;

        @media only screen and (max-width: $hero-column) {
            max-width: 680px;
            text-align: center;
        }

        h1 {
            margin-bottom: 30px;

            span {
                font-size: 45px;

                @media only screen and (max-width: 1250px) {

                    font-size: inherit;
                }

                @media only screen and (max-width: $px1024) {
                    font-size: 34px;
                }

                @media only screen and (max-width: $px768) {
                    font-weight: inherit;
                    font-size: inherit;
                    line-height: inherit;
                }
            }

            @media only screen and (max-width: 1250px) {
                font-weight: 400;
                font-size: 35px;
                line-height: 140%;
            }

            @media only screen and (max-width: $hero-column) {
                max-width: 480px;
                margin-left: auto;
                margin-right: auto;
            }

            @media only screen and (max-width: $px768) {
                font-weight: 400;
                font-size: 45px;
                line-height: 140%;
                max-width: unset;
            }

            @media only screen and (max-width: 600px) {
                font-weight: 400;
                font-size: 35px;
                line-height: 140%;
            }

            @media only screen and (max-width: 479px) {
                font-weight: 400;
                font-size: 25px;
                line-height: 140%;
            }
        }

        p {
            margin-bottom: 40px;
        }
    }

    &__image {
        // outline: 1px solid green;
        flex: 1;
        position: relative;
        height: 650px;

        @media only screen and (max-width: $first-breakpoint) {
            height: unset;
        }

        @media only screen and (max-width: $hero-column) {
            display: flex;
            align-items: flex-start;
            height: auto;
        }

        img {
            // outline: 1px solid red;
            position: absolute;
            width: 700px;
            height: auto;
            object-fit: contain;

            @media only screen and (max-width: $first-breakpoint) {
                position: relative;
                width: 100%;
            }

            @media only screen and (max-width: $hero-column) {
                position: relative;
                width: 100%;
                height: auto;
            }
        }
    }
}