.partners {
    padding-top: 70px;

    h2 {
        margin-bottom: 40px;
    }

    &__cards {
        display: flex;
        gap: 30px;
        // outline: 1px solid red;
        @media only screen and (max-width: $px480) {
            flex-direction: column;
        }
    }

    &__card {
        // outline: 1px solid green;
        height: 150px;
        box-shadow: 5px 5px 10px rgba(46, 96, 201, 0.1);
        border-radius: 10px;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}