.reviews {
    padding-top: 128px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;

    .h2-wrapper {
        text-align: center;
        margin-bottom: 40px;
    }

    &__card-image {
        max-height: 400px;
    }

    &__btn {
        background-color: white;
        border: 1px solid $sky;
        color: $sky;
        margin: 0 auto;
        margin-top: 30px;

        &:hover {
            background-color: $sky;
            color: white;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        text-rendering: auto;
        // top: 60% !important;
        background-size: 100% auto;
        background-position: center;

        &::after {
            display: none !important;
        }

        @media only screen and (max-width: $px480) {
            display: none;
        }
    }

    .swiper-button-prev {
        left: -44px !important;
        background-image: url(../../src/assets/img/next-btn.svg) !important;
        transform: scaleX(-1);
        background-repeat: no-repeat;

        @media only screen and (max-width: 1420px) {
            left: 5px !important;
        }
    }

    .swiper-button-next {
        right: -44px !important;
        background-image: url(../../src/assets/img/next-btn.svg) !important;
        background-repeat: no-repeat;

        @media only screen and (max-width: 1420px) {
            right: 5px !important;
        }
    }

    .swiper-pagination {
        bottom: 190px !important;
    }

    .swiper-pagination-bullet {
        width: 24px !important;
        height: 24px !important;
        background: #7CB8EB !important;
    }
}