.services {
    padding-top: 90px;

    // outline: 1px solid red;
    h2 {
        margin-bottom: 50px;
    }

    .accordion {

        &__header {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            transition: all 0.4s ease;
            margin-top: 30px;
            // margin-bottom: 30px;
            gap: 56px;

            @media only screen and (max-width: 450px) {
                gap: 0;
            }

            &--active {
                margin-bottom: 20px;

                .accordion__header-btn {
                    svg {
                        path {
                            d: path("M21.4483 22H28C29.1046 22 30 21.1046 30 20C30 18.8954 29.1046 18 28 18H21.4483H18.5517H12C10.8954 18 10 18.8954 10 20C10 21.1046 10.8954 22 12 22H18.5517H21.4483Z")
                        }

                        rect {
                            fill: $disable;
                        }
                    }

                }
            }

            h3 {
                max-width: 630px;
                @media only screen and (max-width: 450px) {
                    font-size: 24px;
                    line-height: 35px;
                }
            }

            &-btn {
                svg {
                    path {
                        transition: all 0.3s ease;
                        d: path("M30 20C30 21.1046 29.1046 22 28 22H22V28C22 29.1046 21.1046 30 20 30C18.8954 30 18 29.1046 18 28V22H12C10.8954 22 10 21.1046 10 20C10 18.8954 10.8954 18 12 18H18V12C18 10.8954 18.8954 10 20 10C21.1046 10 22 10.8954 22 12V18H28C29.1046 18 30 18.8954 30 20Z")
                    }

                    rect {
                        transition: all 0.3s ease;
                        fill: "#001EBA";
                    }
                }

            }


        }



        &__panel {
            display: flex;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;
            gap: 30px;

            @media only screen and (max-width: $px1024) {
                flex-direction: column;
            }

            &--active {
                overflow: visible;
            }

            &-text {
                flex-basis: 630px;
                max-width: 630px;

                p {
                    margin-bottom: 30px;
                }

                &-grid {
                    display: grid;
                    grid-template-columns: fit-content(100%) 1fr;
                    gap: 30px;
                    margin-bottom: 30px;

                    &-left {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;


                        .hint {
                            display: block;
                            width: 100%;
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 140%;
                            color: $dark;
                        }

                        p {
                            margin-bottom: 0;
                        }
                    }

                    &-right {
                        display: flex;
                        align-items: flex-end;

                        a {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 140%;
                            color: $black;
                            white-space: nowrap;

                            &:hover {
                                color: $anchor-hover-color;
                            }

                            @media only screen and (max-width: $px480) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            &-img {
                height: 350px;
                min-height: 350px;
                border-radius: 4px;
                overflow: hidden;
                transition: all 0.3s ease;

                &--active {
                    box-shadow: 20px 20px $disable;

                    @media only screen and (max-width: $px480) {
                        box-shadow: none;
                    }
                }
            }
        }

        &__line {
            border: none;
            border-bottom: 1px solid $dark;
            margin: 0;
            padding: 0;
            margin-top: 30px;
        }
    }
}