#services {
    background-color: #FAFBFF;
}

.services {
    padding-top: 90px;
    padding-bottom: 100px;

    .h2-wrapper {
        margin-bottom: 30px;
    }


    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        justify-content: center;
        gap: 30px;
        position: relative;

        @media only screen and (max-width: $px1024) {
            grid-template-columns: repeat(2, 1fr);
            margin: 0 auto;
        }

        @media only screen and (max-width: $px480) {
            display: flex;
            flex-direction: column;
        }
    }

    &__card {
        position: relative;
        text-align: center;
        background-color: #fff;
        padding: 40px 30px;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            top: -10px;
            left: -10px;
            box-shadow: 10px 10px $light-blue;

            h4 {
                color: $orange;
            }
        }

        &-image {
            width: 100px;
            height: 100px;
            margin: 0 auto;
            margin-bottom: 20px;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        h3 {
            color: $blue;
            margin-bottom: 30px;
        }

        h4 {
            color: $yellow;
        }
    }
}