.works {
    padding-top: 70px;    

    h2 {
        text-align: center;
        margin-bottom: 30px;
    }    
    &__swiper{
        height: 600px;
    }
    &__slide{
        border-radius: 20px;
        overflow: hidden;
    }
}