.works {
    padding-top: 90px;

    h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    &__swiper {
        height: 600px;
    }

    &__slide {
        border-radius: 20px;
        overflow: hidden;
    }
}

.swiper-button-prev,
.swiper-button-next {
    text-rendering: auto;
    top: 60% !important;
    background-size: 100% auto;
    background-position: center;

    &::after {
        display: none !important;
    }
}

.swiper-button-prev {
    left: -44px !important;
    background-image: url(../../src/assets/img/next-btn.svg) !important;
    transform: scaleX(-1);
    background-repeat: no-repeat;

    @media only screen and (max-width: 1420px) {
        left: 5px !important;
    }
}

.swiper-button-next {
    right: -44px !important;
    background-image: url(../../src/assets/img/next-btn.svg) !important;
    background-repeat: no-repeat;

    @media only screen and (max-width: 1420px) {
        right: 5px !important;
    }
}

.swiper-pagination {
    bottom: -40px !important;
}

.swiper-pagination-bullet {
    width: 24px !important;
    height: 24px !important;
    background: #7CB8EB !important;
}
